body {
    background-color: #f1faee;
}

button {
    font-size: 17px;
    background-color: #a8dadc;
}

h1, h2 { /*todos os H1's e H2's*/
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457B9D;
}

.tag { /*classe 'tag'*/
    background-color: red;
    color: #f1faee;
    font-size: 16px;
}

.post a { /*todos os 'a' descendentes duma class 'post' */
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a { /*todos os 'a' dentro dum footer*/
    color: #e63946;
}

footer > a { /*direct child selector -> 'a' que sejam FILHOS DIRETOS de um footer*/
    color: #1d3557;
}

p{
    text-align: justify;
}

input[type="password"]{
    color: greenyellow;
}

a[href*="google"]{ /*seleciona os 'a' que tenham atributo 'href' que contenha a palavra 'google' dentro. */
    color: magenta;
} /*$= .org    : que termine em '.org'   */

/*----- PSEUDO-CLASSES -----*/

.post button:hover{
    background-color: #163e6b;
    color: #f1faee;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: green;
}

.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

/*----- PSEUDO-ELEMENTS (são muito especificos -----*/

h2::first-letter{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

p::first-line {
    color: goldenrod;
}

p::selection { /*::selection apenas, ficava dourado em todas as selecoes e não apenas nos parágrafos.*/
    background-color: gold;
}



/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* section[class="post"]{
    background-color: purple;
}
-> isto é o mesmo que fazer '.post { background-color: purple; }' */
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* section.post {
    background-color: purple;
}
-> este seria útil se houvess esta classe 'post' aplicada a multiplos elementos diferentes,do genero, para alem de sections, havia 'navs'
ou 'divs' com a class 'post'. Esta forma era para editar só os posts das sections. */
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* input + button {
    background-color: pink;
}
-> adjacent selector: todos os buttons que estao IMEDIATAMENTE a seguir a 'inputs', sem serem childs. */
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* -> se uma regra tiver '!important' à frente, essa é que fica. Mesmo que haja regras com selectors de ID ou de classe. por exemplo:

div {
    background-color: red !important;
}
-> isto vai-se sobrepor a algo como:

#idDeUmDiv {
    background-color: pink;
} */
/*----------------------------------------------------------------------------------------------------------------------------------------*/